// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$ngo-green: #59AC98;
$ngo-black: #141414;
$ngo-blue: #003459;
$ngo-dark-blue: #00171F;
$ngo-light-blue: #A8D0DB;
$ngo-gray: #808080;
$ngo-light-gray: rgb(230, 230, 230);
