// Specific CSS for your home-page

// banner components position set up //

// body{
//   width: 100vw;
// }

.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// banner photo set up //

img.photo_banner{
  width: 50vw;
  height: 100vh;
  background-position: center;
  object-fit: cover;
  right: 0;
}

.banner__left h1{
  left: 0;
  height: 500px;
  width: 50vw;
  padding: 20vh 8% 15vh 15%;
  font-size: 35px;
  font-weight: bold;
}

// home mid //

.home__mid h2{
  font-weight: bold;
}

.home__mid{
  width: 100vw;
  height: 200px;
  background-color: #808B8F;
  padding: 30px 8%;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

// This is controlling line breaks of texts //



.banner__left h1{
  white-space: nowrap;
}
