// Specific CSS for your home-page

.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $ngo-light-gray;
  color: black;
  flex-direction: row-reverse;
}

// banner photo set up //

img.photo__banner{
  width: 50vw;
  height: 100vh;
  background-position: center;
  object-fit: cover;
  right: 0;
}

.banner__left h1{
  height: 450px;
  width: 50vw;
  padding: 20vh 8% 15vh 12%;
  font-size: 35px;
  letter-spacing: -0.05em;
  font-weight: bold;
  text-align: center;
}

a.explore__link__banner{
  color: $ngo-pink;
  text-decoration: none;
  display: inline-block;
  margin-left: 8vw !important;
  margin: 30px 0;
  padding-bottom: 3px;
  border-bottom: solid 2px black;
  font-size: 20px;
}

// home mid //

.wrap__home__mid__message__from__960{
  display: none;
}

.home__mid h2{
  font-weight: bold;
  padding-left: 30px;
}

.home__mid p{
  margin-right:  5vw;
}

.home__mid{
  width: 100vw;
  height: 250px;
  background-color: white;
  padding: 50px 0 0 0;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding-left: 5vw;
  padding-left: 5vw;
}

// This is controlling line breaks of texts //

.banner__left h1{
  white-space: nowrap;
}

// Video section configuration //
// Changes to block from smaller screen //

.home__video{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $ngo-blue;
  height: 400px;
}

// Suppport Your NGO's.... texts modification //

.video__message h2{
  font-weight: bold;
  padding-left: 30px;
}

.video__message{
  width: 50%;
  padding-left: 5vw;
  padding-right: 5vw;
}

// video sizing //

.video{
  width: 50%;
  height: 100%;
}

.video__message, h2 p{
  color: white;
}

iframe{
  width: 50vw;
  height: 100%;
}

.home__bottom__cards__message__line{
  border-left: solid 3px $ngo-pink;
}

// home__bottom //

.home__bottom{
  display: flex;
}

.home__bottom__display{
  display: flex;
}


// adding some space under the video when rapped //

div.home__bottom{
  height: 400px;
}

h2.home__bottom__cards__message.home__bottom__cards__message__line{
  font-weight: bold;
  margin-top: 30px;
  padding-left: 30px;
  margin-left: 5vw;
}

// no wrapping for Our projects ... /

.home__bottom__cards__message__no__wrap{
  white-space: nowrap
}

// right and left cards position //

.home__bottom__card__list__right{
  background-color: white;
}

div.info__left{
  background-color: $ngo-blue;
}

// creating a clickable link //

// color link: https://coolors.co/0a8754-a8d0db-003459-e49273-e54f6d
           //  https://coolors.co/0a8754-59ac98-a8d0db-003459-726366-ab7b6d-e49273-e58272-e57170-e54f6d

.home__cards .home__bottom__right__card__inner__box{
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  width: 100px;
  font-size: large;
}


// cards on the right //

.home__cards{
  position: relative;
  padding: 15px;
  padding-left: 80px;
  font-weight: bold;
  width: 50vw;
  background-color: transparent;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  &:active{
    background-color: $ngo-light-blue;
    color: white;
    box-shadow: $ngo-dark-shadow;
  }
  &:hover{
    background-color: $ngo-light-blue;
    color: white;
    padding-left: 130px;
    transition: 0.3s;
    box-shadow: $ngo-dark-shadow;
  }
}

a.home__bottom__right__card__link{
  text-decoration: none;
  color: black;
  margin: auto 0;
  vertical-align: middle;
}

.home__bottom__right__card__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

div.info__left{
  width: 50vw;
  height:100%;
}

//creating cards on the left, Our projects ... //

.home__card__left__description.home__card__left__description__standard{
  margin-top: 88px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 20px;
  height: 250px;
  box-shadow: $ngo-shadow;
  background-color: white;
  border-radius: 10px;
}

.home__card__left__description{
  margin-top: 88px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 20px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  left: 0;
  right: 0;
}

// clickable description set-up //

.home__card__description{
  text-align: center;
}

.home__card__description h4{
  font-size: medium;
  color: $ngo-gray;
}

.home__bottom__right__card__link__description{
  height: 250px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  pointer-events: auto;
  box-shadow: 0px 5px 10px 0px rgba(62, 62, 62, 0.5);
  transition: 0.3s;
  content: "";
  background-color: transparent;
  &:hover{
    box-shadow: 0px 5px 10px 0px rgba(130, 130, 130, 0.5);
    transition: 0.3s;
  }
}

.home__card__description h5{
  padding-top: 20px;
  font-size: xx-large;
  padding-bottom: 10px;
  border-bottom: solid 2px $ngo-black;
}

.home__card__description.home__card__left__description__standard span{
  display: none;
}

.home__card__description span{
  position: absolute;
  bottom: 10px;
  left: 20%;
  width: 60%;
  font-size: medium;
  background-color: $ngo-pink;
  color: white;
  border-radius: 5px;
  box-shadow: $ngo-shadow;
}

div.home__card__description{
  &:hover{
    color: $ngo-black;
  }
}

div.home__card__description h5{
  font-size: large;
  font-weight: bold;
}

// stimulus set up for home__bottom (some effects on .cards selector)//

.description__position{
  position: relative;
}

div.home__card__left__description{
  position: absolute;
  bottom: 80px;
}

div.home__card__left__description__environment__active,
div.home__card__left__description__education__active,
div.home__card__left__description__culture__active,
div.home__card__left__description__animal__active{
  display: block;
  bottom: 80px;
  left: 0;
  right: 0;
}

div.home__card__left__description__environment,
div.home__card__left__description__education,
div.home__card__left__description__culture,
div.home__card__left__description__animal{
  display: none;
  position: absolute;
  bottom: 80px;
  left: -1000px;
}
