@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */

  // Changed from flex to block, the position of //
  // the photo and the texts have changed //
  .banner{
    display: flex;
    flex-direction: column-reverse;
  }

  img.photo__banner{
    // background-position: bottom;
    object-fit: cover;
    width: 100vw;
    height: 50vh;
  }

  .banner__left h1{
    height: 260px;
    width: 100vw;
    padding-left: 7%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }

  // This is disabling br from 960 //

  .wrap__copy{
    display: none;
  }

  // // This is working to keep the br from 960 //

  // Removed from the left banner //
  // .wrap__copy__under__960{
  //   display: block;
  // }

  .wrap__home__mid__message__from__960{
    display: block;
  }

  // resizing home__mid height //

  .home__mid{
    height: 300px;
  }

  // video section resizing //

  div.video__message{
    padding-top: 30px;
  }

  // Resizing the search bar //

  div.search__bar.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  input.search__bar__nav{
    max-width: 400px;
    min-width: 400px;
  }


  // smaller texts for description card //

  div.home__card__description h5{
    font-size: x-large;
  }

  // resizing the search bar //

  input.search__bar__nav{
    max-width: 170px;
    min-width: 170px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  // relocation of the copy //

  .banner__left h1{
    height: 100px;
    font-size: 21px;
    text-align: center;
    padding-left: 7%;
  }

  .home__mid{
    height: 300px;
  }

  // Hiding start projects //

  a.nav__links{
    display: none;
  }

  // video section resizing //

  .home__video{
    display: block;
    flex-direction: row-reverse;
    height: 500px;
    padding-top: 30px;
    position: relative;
  }

  .video__message{
    width: 100%;
  }

  .wrap__message__video{
    display: none;
  }

  .video{
    width: 100vw;
    height: 300px;
    position: absolute;
    bottom: 0;
  }

  iframe{
    width: 100vw;
    height: 100%;
  }

  // cards display relocation //

  div.info__left{
    height: 300px;
    width: 100%;
    padding-top: 0.1px;
    padding-bottom: 20px;
  }

  div.home__card__left__description{
    bottom: 30px;
    left: 0;
    right: 0;
  }

  div.home__bottom{
    display: block;
    height: auto;
  }

  .home__bottom__display{
    display: block;
  }

  div.cards{
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  // removing Category section on the nav //

  span.category {
    display: none;
  }

  // category cards resizing //

  .home__cards{
    width: 100%;
  }

  // footer to no flex //
  .footer__syn__right{
    display: block;
    width: auto;
  }

}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */

  // relocation of the copy //

  .banner__left h1{
    height: 180px;
    font-size: 18px;
    padding-left: 7%;
    text-align: center;
  }

  .home__mid{
    height: auto;
  }

  // resizing the banner copy //

  .banner__left h1{
    width: 100vw;
  }


  // in case if you want to change the positions //

  // changing the positions of the video and texts //
  div.home__video{
    flex-direction: column;
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  a.explore__link__banner{
    font-size: 15px;
  }

  // video section resizing //

  div.video__message{
    padding-top: 20px;
  }

  // this works from 560 to stop <br>//
  .wrap__home__mid__message__from__960{
    display: none;
  }
}

@media (max-width: 440px) {
  /* For a screen < 440px, this CSS will be read */

  // relocation of the copy //

  .banner__left h1{
    font-size: 15px;
    padding-left: 7%;
    text-align: center;
  }

  .home__mid{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  // Resizing the search bar //

  div.search__bar.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  input.search__bar__nav{
    max-width: 30vw;
    min-width: 30vw;
  }

  div.video__message.home__bottom__cards__message__line{
    margin-left: 5vw;
  }

  a.explore__link__banner{
    font-size: 15rem;
  }

  // resizing the banner copy //

  .banner__left h1{
    width: 90vw;
  }

  // adding less space for the search bar //

  .search__bar__nav{
    margin-left: 5px;
  }

  div.search__bar__nav.search___nav{
    margin-left: 10px;
  }

  div.video__message.home__bottom__cards__message__line{
    margin-left: 5vw;
  }

  // smaller texts for description card //

  div.home__card__description h5{
    font-size: small !important;
  }

  div.home__card__description p{
    font-size: small !important;
  }

  // support your ngo ... resizing //

  div.video__message{
    height: 50%;
    padding-top: 10px;
  }

  // adjusting to telephone size //

  .home__card__left__description{
    margin-top: 85px;
  }

  // font size (only for telephones) //

  // h1, h2, h3, h4, h5, h6,strong{
  //   font-size: large !important;
  // }
  p, a, span{
    font-size: medium !important;
  }
}
