<div class="payment__dashboard
            dashboard__payment__remove
            payment__dashboard__top"
            data-dashboard-target="payment">
  <h4>Payment</h4>
  <p>This page will be reday soon!</p>
</div>
