<div class="payment__dashboard
            dashboard__payment__remove
            payment__dashboard__top"
            data-dashboard-target="payment">
  <h4>PAYMENT</h4>
  <p class="dashboard__edit__line">Amount you have donated!</p>
  <%# /// Those who have payed to your(NGO's owners) project/// %>
    <% @user.contributions.reverse_each do |contribution| %>
  <div class="dashboard__payments__cards">
    <span>You have spent <span class="dashboard__payments__cards__amount__spent">$<%= link_to "#{contribution.amount}", project_contribution_path(contribution.project.id, contribution.id), class: "dashboard__links__to__projects__profile__edit__and__contribution__show"%></span> to</span>
    <span class="dashboard__payments__cards__projects__names"><%= link_to "#{contribution.project.name}", project_path(contribution.project.id), class: "dashboard__links__to__projects__profile__edit__and__contribution__show" %></span>
  </div>
    <% end %>

</div>



<%# /// Those who have payed to your(NGO's owners) project/// %>
<%# Again, the number might not be the same compare to the status partial (Ngos' payments are included)  %>

  <%# <%= @user.project_contributions.count %>
  <%# <% @user.project_contributions.each do |contribution| %>
    <%# <p><%= contribution.amount %>
  <%# <% end %>
