<div class="dashboard__edit
            dashboard__edit__remove
            dashboard__edit__top"
            data-dashboard-target="edit">
  <h4>Edit</h4>
  <p>This page will be reday soon!</p>
</div>
