<div class="footer--color">
  <div class="footer__syn">
    <div class="footer__left">
      <%= link_to "Find the projects which end soon", root_path %>
    </div>
    <div class="footer__right">
      <div class="footer__right__left">
        <ul>
          <a href="#"><li>About</li></a>
          <a href="#"><li>Start Your project</li></a>
        </ul>
      </div>
      <div class="footer__right__left">
        <ul>
          <a href="#"><li>FAQ</li></a>
          <a href="#"><li>Terms & conditions</li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="icons">
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-solid fa-envelope"></i></a>
    </div>
      <div class="copy__right">
        <p>© 2022 Support Your NGO, some rights reserved.</p>
      </div>
  </div>
</div>
