<% if params[:controller] == "pages" && params[:action] == "home" %>
<div class="nav__home">
<% else %>
<div class="nav">
<% end %>
  <div class="icon">
    <%= link_to image_tag("logo_2.png"), root_path, { class: "logo" } %>
  </div>
  <div class="nav__right">
      <%= link_to "START PROJECTS", root_path, class: "nav__links" %>
      <button class="burger__icon">
        <i class="fa-solid fa-bars"></i>
      </button>
  </div>
</div>
