<div class="banner">
  <div class="banner__left">
    <h1><td>SUPPORT YOUR NGO<br class="wrap__copy"> WORKS TO LINK<br class="wrap__copy wrap__copy_under__960"> COMPANIES WHO<br class="wrap__copy"> SEEK FOR A WAY WITH<br class="wrap__copy wrap__copy_under__960"> CONTRIBUTE TO<br class="wrap__copy"> SOCIETY AND NGOS.</h1>
      <div class="search__bar search" data-controller="search">
        <button data-action="click->?????#??????"><i class="fa-solid fa-magnifying-glass"></i></button>
        <form action="/doctors" method="get">
        <input name="query"
                type="text"
                class="search__bar"
                params="[:query]"
                placeholder=" Find your NGO"
                data-navbar-target="input"
                >
        </form>
      </div>
  </div>
  <div class="banner__right">
    <%= image_tag 'naja-bertolt-jensen-BJUoZu0mpt0-unsplash.jpg', { class: "photo_banner" } %>
  </div>
</div>
<div class="home__mid">
  <h2>What we aim</h2>
  <p>Our planet is facing a drastic change over the last century.
  The speed of the transition is too quick for people and nature to adapt
  and, more than 1 million species are facing a serious issue of extinction.
  Pollution continues to harm both our bodies and nature.
  We as a platform aim to provide a way to get out of this transformation
  with connecting companies and NGOs which try to do
  good for the planet.</p>
</div>
