.projects__list {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

.projects__list a{
  text-decoration: none;
  color: $ngo-blue;
  font-weight: bold;
  font-size: 20px;
}

.card__link {
  text-decoration: none;
  color: $ngo-blue;
  font-weight: bold;
  font-size: 20px;
}

.projects__card {
  height: 300px;
  width: 300px;
  background-color: $ngo-light-blue;
  color: $ngo-blue;
  border-radius: 5px;
  margin: auto;
  position: relative;
  border: $ngo-blue;
  box-shadow: $shadow-lg;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projects__text {
  display: block;
  right: 0;
  padding: 10px 10px 10px 10px;
  color: white;
  text-decoration: none;
}

.card__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}
