.dashboard__welcome{
  height: auto;
}


// color set up //

.dashboard__welcome__and__edit__card--green{
  color: $ngo-green;
  font-weight: bold;
}

// hide the patial. Showen when cliking the links on the left //

.dashboard__welcome__remove{
  display: none;
}

.dashboard__welcome__top h4{
  margin: 10px 0;
  padding-left: 10px;
  border-left: solid 2px $ngo-green;
}

// creating the same design (welcome card top) as other patials //

.dashboard__welcom__detail_section{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard__welcom__detail_section__with__edit{
  margin: 10px 0;
  height: auto;
  max-height: auto;
  border-radius: 10px;
  padding: 3vh 2vw;
  box-shadow: $ngo-shadow;
}

// sub message on the top //

.dashboard__welcome__line{
  color: grey;
}

// display set up for the right part of the card //

.dashboard__welcome__card__profile__section{
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

// Edit text position //

.dashboard__welcome__card__profile__section__edit__text{
  position: absolute;
  right: 0.5vw;
  top: 0.1vh;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    transition: 0.3s;
    color: $ngo-green;
  }
}


// creating the same design (welcome card bottom) as other patials //

.dashboard__welcome__card__total__section{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  height: 15VH;
  max-height: auto;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  padding: 5px 4vw;
  box-shadow: $ngo-shadow;
  // background-image: url("https://images.unsplash.com/photo-1502251468545-35c689568055?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2500&q=80");
  background-color: $ngo-dark-blue;
  color: white;
}

.dashboard__welcome__card__total__section__upper__text{
  font-size: 18px;
  margin: 10px 0;
  padding-left: 10px;
  border-left: solid 2px $ngo-green;
}

.dashboard__welcome__card__total__section__total{
  // font-weight: bold;
  color: $ngo-green;
  font-size: larger;
}


// edit section //

.dashboard__welcome__card__profile__edit__section{
  display: none;
}

.dashboard__welcome__card__profile__edit__section__hide__and__show{
  display: block;
}

.dashboard__welcome__and__edit__card__profile__section__projects{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dashboard__projects__delete a{
  margin-left: 4vw;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  &:hover{
    color: $ngo-green;
    transition: 0.3s;
  }
}

// photo //

.welcome__profile__image{
  width: 50px;
  height: 50px;
  background-position: center;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}

// adding some space bt texts //

.dashboard__welcome__and__edit__profile{
  margin-left: 7px;
}

.dashboard__welcome__spacer{
  display: inline-block;
  width: 80px;
}
