// .dashboard__edit{
// }

.dashboard__edit__remove{
  display: none;
}

.dashboard__edit__top h4{
  margin: 10px 0;
  padding-left: 10px;
  border-left: solid 2px #e58272;
}

.dashboard__welcome__line{
  color: grey;

}
