// footer //

.footer--color{
  background-color: $ngo-dark-blue;
}

.footer__syn{
  color: black;
  padding: 50px 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.footer__syn__right{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.icons{
  align-content: flex-end;
}

// Finde the pro... style //

.footer__syn__left  a{
  text-decoration: none;
  color: white;
  font-size: large;
  padding-bottom: 3px;
  border-bottom: solid 1px white;
  display: inline-block;
  margin-bottom: 50px;
}

// footer icons style //

.icons i{
  color: white;
  margin-right: 10px;
}

// footer right part style //

.footer__syn__right a{
  text-decoration: none;
  color: white;
  list-style-type: none;
}

// footer bottom copyright design //

.footer__bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5vw;
}

.footer__bottom p{
  color: white;
  margin-top: 16px;
}
