

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .contibution__show{
    flex-direction: column;
  }

  .contibution__show__right{
    margin-right: 0px !important;
    margin-top: 10vh;
  }
}

@media (max-width: 440px) {
  /* For a screen < 440px, this CSS will be read */
}
