// Icon css //

.icon img{
  background-color: transparent;
  border-radius: 50%;
  width: 120px;
  height: 60px;
}

// Navbar sizing setup //

div.nav__home{
  padding: 10px 10vw;
}

// .nav__home for homepage and .nav for the othr pages //

.nav__home{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20000;
}

.nav{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20000;
  box-shadow: 0px 5px 10px 0px rgba(200, 200, 200, 0.5);
}

// burger menu setup //

.nav__right{
  display: flex;
  align-items: center;
  justify-content: center;
}

button.burger__icon{
  border: solid 1px transparent;
  background-color: transparent;
  padding: 0;
}

.nav__right i{
  font-size: x-large;
}

// project create function set up //@at-root

a.nav__links{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-weight: 700;
}
