.show__title h1{
  text-align: center;
  margin-bottom: 5vh;
}

// photo sizing //

.show__photo{
  width: 50vw;
  height: 50vh;
  object-fit: cover;
  background-position: center;
  border-radius: 5px;
  margin-right: 5vw;
}

// editing upper part of show //

div.price__section__bottom p{
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: $ngo-blue;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  white-space: nowrap;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    box-shadow: $ngo-shadow;
    color: $ngo-pink;
    transition: 0.3s;
  }
}

div.price__section__bottom a{
  text-decoration: none;
  color: white;
  margin-right: 10px;
}


.show__upper__side{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10vh;
  border-bottom: solid 1px rgb(200, 200, 200);
  margin-top: 10vh;
}

.price__section{
  padding-top: 10px;
  border-top: solid 2px $ngo-blue;
  width: 20vw;
  margin-right: 5vw;
}

// editing lower part of show //

.show__lower__side{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}

// cards set up //

.contribution__box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

// changing the font size //

.contribution__your__amount h4,
.contibution__fixed__box h4{
  font-size: 17px;
  font-weight: 300;
}

.contribution__your__amount p,
.contibution__fixed__box p{
  font-size: 15px;
  color: rgb(70, 70, 70);
}

.contibution__fixed__box li{
  font-size: 15px;
}

// your amout card set up //

.contribution__your__amount,
.contibution__fixed__box__card{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 20vw;
  min-width: 250px;
  border: solid 1px white;
  border-radius: 10px;
  box-shadow: $ngo-shadow;
  margin: 0 auto;
  margin-top: 5vh;
  height: auto;
  position: relative;
  transition: 0.3s;
  &:hover{
    box-shadow: $ngo-dark-shadow;
    transition: 0.3s;
  }
}

// clickable link //

.show__home__bottom__right__card__link{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

.contribution__your__amount{
  height: 200px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.contribution__your__amount input{
  width: 85%;
}

// fixed card design //

.contribution__cards{
overflow-y: scroll;
height: 200vh;
width: 30vw;
}

.pledge__text{
  padding: 10px 20px;
}

// pledge photo //

.pledge__photo{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  object-fit: cover;
  background-position: center;
}

// story set up //

.story{
  width: 50vw;
  margin-top: 5vh;
}

.story p{
  text-align: justify;
  margin-bottom: 5vh;
}

.story h4{
  padding-left: 30px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-left: solid 2px $ngo-pink;
}

.story h2{
  margin-bottom: 50PX;
  font-weight: bold;
}
