// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/shadows";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// colors, refer to https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8

h1, h2, h3, h4, h5, h6,strong, p, a, span{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-size: large;
}

.fix-spacing{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 5vw;
  margin-right: 5vw;
}

html {
  font-size: 90.5%;
}
